<ion-nav-bar class="bar-positive nav-title-slide-ios7 green-background">
</ion-nav-bar>

<ion-view title="About" hide-back-button="true" id="contentBG">
    <ion-nav-buttons side="left" id="menuButton">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header content-bg">

      <h2 style="text-align: center; position: relative; color: white; font-family: Lucida Sans Unicode; font-size: 52px; font-weight: bold; margin-top: 8%" id="titleText2">MyEarth</h2>

      <h3 style="margin-left: 10%; margin-top: 24px">About</h3>
      <p style="margin-left: 10%; margin-right: 10%; width: 80%">MyEarth is an energy tracking application developed by researchers and students at the University of Wisconsin-Madison. The actual version of MyEarth was developed by Victor Tavares, John Meurer, Andrew Stevens and Nancy Wong. We would like to give special thanks to Sulabh Agarwal and Kevin Kamal who gave us full access to reuse their software and codebase. Their contributions are greatly appreciated.</p>

      <h3 style="margin-left: 10%; margin-top: 24px">How Does It Work?</h3>
      <p style="margin-left: 10%; margin-right: 10%; width: 80%">Simply navigate to the My Activities page to choose activities and perform them. Each activity saves a given amount of Water or Carbon (see <a href="#/app/calculations">Calculations</a> for a comprehensive list of assumptions and calculations). Your full energy savings are tracked and displayed on the  Profile screen.</p>
      
      <h3 style="margin-left: 10%; margin-top: 24px">Contact Us</h3>
      <p style="margin-left: 10%; margin-right: 10%; width: 80%">If you have questions or suggestions, please email Nancy Wong at nywong@wisc.edu.</p>

    </ion-content>
</ion-view>