<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Activities</h1>
        <button class="button button-clear button-positive" ng-click="closeModalButton()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search Activities" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>

        <div class="list card">

            <div class="item item-avatar">
                <img src="/img/noimage.jpg">
                <h2>Walk Home</h2>
                <p>3 Points</p>
            </div>

            <div class="item item-body">

                <h2>Did you walk home today instead of get a bus? Great! You just saved 3 trees!</h2>
                <p></p>
                <p> How often do you do this activity?</p>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Frequency
                    </div>
                    <select>
                        <option>Every Day</option>
                        <option>Business Days</option>
                        <option selected>Once a Week</option>
                        <option>Once a Month</option>
                    </select>
                </label>

            </div>




            <a class="item item-icon-left positive" href="#">
                <i class="icon ion-happy"></i>
                Do it!
            </a>

        </div>






    </ion-content>

</div>