<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive headerBG nav-title-slide-ios7">
    <button class="button button-clear button-light headerButton" ng-click="closeModalButton()">Cancel</button>
        <h1 class="title">Add Activities</h1>
        <button class="button button-clear button-light headerButton" ng-click="saveSelections()">Save</button>
    </ion-header-bar>

    <ion-view>

    <!-- Modal content area -->
    <ion-content class="content-bg" has-bouncing="true">

        <div id="search-bar">
            <div class="item search item-input-inset"-->
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search Activities" ng-model="query">
                </label>
            </div>
        </div>

        <div class="item item-divider" ng-repeat="category in categoryList">
            {{category.title}}

            <div class="list card" ng-repeat="activity in category.activities | filter:query ">

                <div class="item item-avatar">
                    <img src="img/{{activity.pointCategory}}.png">
                    <h2>{{activity.name}}</h2>
                    <p>{{activity.points}} {{activity.pointCategory}}</p>
                </div>

                <div class="item item-body" style="padding-top: 0px">

                    <h2>{{activity.description}}</h2>
                    <!-- <p> How often do you perform this activity?</p> -->
                    <!-- <label class="item item-input item-select">
                        <div class="input-label">
                            Freq
                        </div>
                        <select ng-model = "activity.frequency">
                            <option selected>Just Once</option>
                            <option>Every Day</option>
                            <option>Business Days</option>
                            <option>Once a Week</option>
                            <option>Once a Month</option>
                        </select>
                    </label> -->

                </div>


                <div class="item item-icon-left {{activity.colorClass}}" ng-click=" 
                    activity.added = true; addActivity(category.title, activity.name);">
                    <i class="icon ion-{{activity.icon}}"></i>
                        {{activity.addedPhrase}}
                </div>

            </div>

        <div>
    </ion-content>

</ion-view>

</div>