<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive headerBG nav-title-slide-ios7">
        <h1 class="title">Activities</h1>
        <button class="button button-clear button-light headerButton" ng-click="closeModalButton()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content class="content-bg">

        <div id="search-bar">
            <div class="item search item-input-inset"-->
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search Activities" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>

        <div class="list card" ng-repeat="activity in allActivitiesList">

            <div class="item item-avatar">
                <img src="/img/noimage.jpg">
                <h2>{{activity.activityName}}</h2>
                <p>{{activity.points}}</p>
            </div>

            <div class="item item-body">

                <h2>{{activity.activityDescription}}</h2>
                <p></p>
                <p> How often do you do this activity?</p>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Frequency
                    </div>
                    <select ng-model = "addActivityData.frequency">
                        <option selected>Just once</option>
                        <option>Every Day</option>
                        <option>Business Days</option>
                        <option>Once a Week</option>
                        <option>Once a Month</option>
                    </select>
                </label>

            </div>




            <div class="item item-icon-left balanced" ng-click="addActivity(activity.id)">
                <i class="icon ion-happy"></i>
                Do it!
            </div>

        </div>
    </ion-content>

</div>