<ion-nav-bar class="bar-positive nav-title-slide-ios7 green-background">
</ion-nav-bar>

<ion-view title="My Impact" hide-back-button="true" id="contentBG">
    <ion-nav-buttons side="left" id="menuButton">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header content-bg">

    <h2 style="text-align: center; margin-top: 12px; margin-bottom: 0px">Level {{tier}}</h2>
        
    <div class="row" style="width: 60%; margin-left: 20%; margin-top: 0px">
      <div class="col col-20">
        <img ng-show="prestigeLevel == 0" src="img/star-outline.png" style="width: 28px"></img>
        <img ng-show="prestigeLevel >= 1" src="img/star-filled.png" style="width: 28px"></img>
      </div>
      <div class="col col-20">
        <img ng-show="prestigeLevel < 2" src="img/star-outline.png" style="width: 28px"></img>
        <img ng-show="prestigeLevel >= 2" src="img/star-filled.png" style="width: 28px"></img>
      </div>
      <div class="col col-20">
        <img ng-show="prestigeLevel < 3" src="img/star-outline.png" style="width: 28px"></img>
        <img ng-show="prestigeLevel >= 3" src="img/star-filled.png" style="width: 28px"></img>
      </div>
      <div class="col col-20">
        <img ng-show="prestigeLevel < 4" src="img/star-outline.png" style="width: 28px"></img>
        <img ng-show="prestigeLevel >= 4" src="img/star-filled.png" style="width: 28px"></img>
      </div>
      <div class="col col-20">
        <img ng-show="prestigeLevel < 5" src="img/star-outline.png" style="width: 28px"></img>
        <img ng-show="prestigeLevel >= 5" src="img/star-filled.png" style="width: 28px"></img>
      </div>
    </div>

    <ion-slide-box show-pager="true">
      <ion-slide>
        <img src="img/bear-{{tier}}.jpg" style="width: 86%; margin-left: 7%" ng-click="modal.show()"></img>
      </ion-slide>
      <ion-slide>
        <img src="img/forest-{{tier}}.jpg" style="width: 86%; margin-left: 7%" ng-click="modal.show()"></img>
      </ion-slide>
    </ion-slide-box>

    <h3 style="text-align: center; width: 86%; margin-left: 7%; margin-top: 12px; color: gray" > {{carbonSaved}} lbs of Carbon</h3>

    <div>
        <progress value="{{percentDone}}" max="100" style="width: 75%"></progress>
    </div>

    <h5 style="text-align: center; width: 86%; margin-left: 7%; font-size: 14px" ><b ng-if="congrats">Congratulations!<br></b>{{progressToNextLevel}}</h5>

    <br>

    <div class="center">
      <button ng-disabled="tier < 7" class="button button-dark" ng-click="attemptPrestige()">Prestige Levels</button>
    </div>

    </ion-content>
</ion-view>