<ion-nav-bar class="bar-positive nav-title-slide-ios7 headerBG">
</ion-nav-bar>

<ion-view title="My Impact" hide-back-button="true" id="contentBG">
    <ion-nav-buttons side="left" id="menuButton">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header content-bg">

    <h2 style="text-align: center; margin-top: 12px">Level {{tier}}</h2>
    
    <img src="img/{{bearOrForest}}{{tier}}.jpeg" style="width: 86%; margin-left: 7%"></img>

    
    <h3 style="text-align: center; width: 86%; margin-left: 7%; margin-top: 12px; color: gray" > {{carbonSaved}} lbs of Carbon</h3>

    <div>
        <progress value="{{percentDone}}" max="100" style="width: 75%"></progress>
    </div>

    <h4 style="text-align: center; width: 86%; margin-left: 7%" >{{progressToNextLevel}}</h4>

    </ion-content>
</ion-view>