<ion-nav-bar class="bar-positive nav-title-slide-ios7 headerBG">
</ion-nav-bar>
<ion-view title="Profile" hide-back-button="true" id="contentBG">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header content-bg"  has-bouncing="true">

    <div> <h4 id="textIfNoItems" class="center" style="color: gray; width: 70%; margin: 15%; margin-top: 60%">Go to  the Activities page to add or perform activities</h4></div>


<!-- Overall Consumption -->
<div ng-show="showData">
  <div>
    <ion-slide-box show-pager="false" auto-play="true" does-continue="true" slide-interval="4000">
    <ion-slide>
    <div class="profile-icon">
      <i class="icon ion-leaf profile-icon-leaf green-color"></i>
    </div>
    <div>
      <span class="profile-section">Overall Carbon Savings</span>
      <span style="float:right; margin-right: 8px" class="right">{{treesSaved}} Trees Saved</span>
    </div>
  </ion-slide>
  <ion-slide>
  <div class="profile-icon">
    <i class="icon ion-waterdrop profile-icon-water blue-color"></i>
  </div>
  <div>
    <span class="profile-section">Overall Water Savings</span>
    <span style="float:right; margin-right: 8px" class="right">{{waterSaved}} Gallons Saved</span>
  </div>
  </ion-slide>
  </ion-slide-box>
  <hr class="horiz-break"/>
  </div>


<!-- Graphs -->
<div>

  <h4 ng-show="notEnoughData" class="center" style="color: gray; width: 70%; margin: 15%; margin-top: 25%; margin-bottom: 25%">Not enough data to show plot</h4>

  <div id="chartDiv" ng-show="!notEnoughData">
    <canvas id="myChart" height="240"></canvas>
  </div>
  <div class="list list-inset" style="margin-top: 4px">

    <a class="item item-icon-left graphSelector" ng-click="allTime()">
      <i class="icon ion-clock"></i>
      <span class="graphSelectorTitle middle">All Time</span>
      <span style="float:right" class="right middle">{{startEndMonthAllTime}}</span>
    </a>
    <a class="item item-icon-left graphSelector" ng-click="thisWeek()">
      <i class="icon ion-pinpoint"></i>
      <span class="graphSelectorTitle middle">This Week</span>
      <span style="float:right" class="right middle">{{startEndThisWeek}}</span>
    </a>
    <a class="item item-icon-left graphSelector" ng-click="bestWeek()">
      <i class="icon ion-happy"></i>
      <span class="graphSelectorTitle middle">Best Week</span>
      <span style="float:right" class="right middle">{{startEndBestWeek}}</span>
    </a>
    <a class="item item-icon-left graphSelector" ng-click="worstWeek()">
      <i class="icon ion-sad"></i>
      <span class="graphSelectorTitle middle">Worst Week</span>
      <span style="float:right" class="right middle">{{startEndWorstWeek}}</span>
    </a>
  </div>

  <hr class="horiz-break"/>
</div>



<!-- Statistics -->

<div class="list list-inset" style="margin-bottom: 16px">

  <div class="item statistic">
    <span class="statTitle statMiddle">Activities Completed</span>
    <span style="float:right" class="right statMiddle stat">{{totalActivities}}</span>
  </div>
  <div class="item statistic">
    <span class="statTitle statMiddle">Carbon Conserved</span>
    <span style="float:right" class="right statMiddle stat">{{poundsCarbon}} lbs</span>
  </div>
  <div class="item statistic">
    <span class="statTitle statMiddle">Water Conserved</span>
    <span style="float:right" class="right statMiddle stat">{{waterSaved}} gal</span>
  </div>
  <!-- <div class="item statistic">
    <span class="statTitle statMiddle">CO<sub>2</sub> Percentile</span>
    <span style="float:right" class="right statMiddle stat">78%</span>
  </div> -->
  <!-- <div class="item statistic">
    <span class="statTitle statMiddle">Rank for Current Usage</span>
    <span style="float:right" class="right statMiddle stat">Good</span>
  </div> -->
  
</div>
<br>
</div>
  </ion-content>
</ion-view>


<!-- END PROFILE PAGE -->
