<ion-nav-bar class="bar-positive nav-title-slide-ios7 headerBG">
</ion-nav-bar>
<ion-view title="My Profile" hide-back-button="true" id="contentBG">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header content-bg"  has-bouncing="true">


<!-- Overall Consumption -->
<div>
  <ion-slide-box show-pager="false" auto-play="true" does-continue="true" slide-interval="4000">
  <ion-slide>
  <div class="profile-icon">
    <i class="icon ion-leaf profile-icon-leaf green-color"></i>
  </div>
  <div>
    <span class="profile-section">Overall Carbon Savings</span>
    <span style="float:right; margin-right: 8px" class="right">{{treesSaved}} Trees Saved</span>
  </div>
</ion-slide>
<ion-slide>
<div class="profile-icon">
  <i class="icon ion-waterdrop profile-icon-water blue-color"></i>
</div>
<div>
  <span class="profile-section">Overall Water Savings</span>
  <span style="float:right; margin-right: 8px" class="right">{{waterSaved}} Gallons Saved</span>
</div>
</ion-slide>
</ion-slide-box>
<hr class="horiz-break"/>
</div>


<!-- Graphs -->
<div>

  <div id="chartDiv">
    <canvas id="myChart" height="240"></canvas>
  </div>
  <div class="list list-inset" style="margin-top: 4px">

    <a class="item item-icon-left graphSelector" ng-click="allTime()">
      <i class="icon ion-clock"></i>
      <span class="graphSelectorTitle middle">All Time</span>
      <span style="float:right" class="right middle">Apr 2013 - July 2014</span>
    </a>
    <a class="item item-icon-left graphSelector" ng-click="thisWeek()">
      <i class="icon ion-pinpoint"></i>
      <span class="graphSelectorTitle middle">This Week</span>
      <span style="float:right" class="right middle">Nov 17 - 23, 2014</span>
    </a>
    <a class="item item-icon-left graphSelector" ng-click="bestWeek()">
      <i class="icon ion-happy"></i>
      <span class="graphSelectorTitle middle">Best Week</span>
      <span style="float:right" class="right middle">Nov 5 - 11, 2014</span>
    </a>
    <a class="item item-icon-left graphSelector" ng-click="worstWeek()">
      <i class="icon ion-sad"></i>
      <span class="graphSelectorTitle middle">Worst Week</span>
      <span style="float:right" class="right middle">Sept 7 - 13, 2014</span>
    </a>
  </div>

  <hr class="horiz-break"/>
</div>



<!-- Statistics -->

<div class="list list-inset" style="margin-bottom: 16px">

  <div class="item statistic">
    <span class="statTitle statMiddle">CO<sub>2</sub> Conserved</span>
    <span style="float:right" class="right statMiddle stat">10.1 kilograms</span>
  </div>
  <div class="item statistic">
    <span class="statTitle statMiddle">CO<sub>2</sub> Percentile</span>
    <span style="float:right" class="right statMiddle stat">78%</span>
  </div>
  <div class="item statistic">
    <span class="statTitle statMiddle">Rank for Current Usage</span>
    <span style="float:right" class="right statMiddle stat">Good</span>
  </div>
  <div class="item statistic">
    <span class="statTitle statMiddle">Activities Completed</span>
    <span style="float:right" class="right statMiddle stat">435</span>
  </div>
</div>

</ion-content>
</ion-view>


<!-- END PROFILE PAGE -->
