<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive headerBG green-background">
    <h1 class="title headerText">Terms & Conditions</h1>
    <a ng-click="closeTerms()"><button class="button button-clear button-white">Cancel</button></a>
</ion-header-bar>

<!-- Modal content area -->
<ion-content class="contentBG"  has-bouncing="true">

    <div style="margin: 12px">
        <p>
            <strong><u>DESCRIPTION OF THE RESEARCH</u></strong>
        </p>
        <p>
            You are invited to participate in a research study from the Wisconsin Smart Energy Lab supported by the National Science Foundation. This project is
            intended to provide an easy way for people to save energy in their daily lives via the use of an energy diary smartphone app to help them achieve a more
            sustainable lifestyle.
        </p>
        <p>
            Your participation in this project is very important to its success. Since this app is still in its testing stage, I would really appreciate it if you can
            give us your name and email contact in order for us to reach you (only if necessary) regarding ways that we can improve on the app to make it more user
            friendly and helpful. I want to assure you that all information related to you will remain strictly confidential.
        </p>
        <p>
            This study will include anyone who owns a smartphone and is interested in using the application. This research requires that the user downloads the app and
            giving the researcher his/her consent to monitor their usage of the app.
        </p>
        <p>
            <strong><u>WHAT WILL MY PARTICIPATION INVOLVE?</u></strong>
        </p>
        <p>
            If you decide to participate in this research you will be asked to download the app onto your smartphone and giving the researcher your name and email
            contact so that we can ask for your feedback concerning your usage experience.
        </p>
        <p>
            <strong><u>ARE THERE ANY RISKS TO ME?</u></strong>
        </p>
        <p>
            We don't anticipate any risks to you from participation in this study.
        </p>
        <p>
            <strong><u>ARE THERE ANY BENEFITS TO ME?</u></strong>
        </p>
        <p>
            We don't expect any direct benefits to you from participation in this study.
        </p>
        <p>
            <strong><u>HOW WILL MY CONFIDENTIALITY BE PROTECTED?</u></strong>
        </p>
        <p>
            While there will probably be publications as a result of this study, your name will not be used. Only group characteristics will be published.
        </p>
        <p>
            <strong><u>WHOM SHOULD I CONTACT IF I HAVE QUESTIONS?</u></strong>
        </p>
        <p>
            You may ask any questions about the research at any time. You should contact the Principal Investigator Nancy Wong at (608) 265-5954.
        </p>
        <p>
            If you are not satisfied with response of research team, have more questions, or want to talk with someone about your rights as a research participant, you
            should contact the Education and Social/Behavioral Science IRB Office at 608-263-2320.
        </p>
        <p>
            <strong>PLEASE CONTACT Nancy Wong at </strong>
            <a href="mailto:nancy.wong@wisc.edu"><strong>nancy.wong@wisc.edu</strong></a>
            <strong> IF YOU HAVE ANY SUGGESTIONS REGARDING THE APP!</strong>
        </p>
        <p>
            Your participation is completely voluntary. If you agree to participate, please click on the box below to download the app.
        </p>
    </div>

</ion-content>
</div>