/* Empty. Add your own CSS if you like */


#mainHeader {

    background: #33AD5C !important;

}

.green-background {
    background-color:#68d668 !important;
}

.content-bg {
    background: #FAFAFA;
}
.fixed-outside{
    position: absolute;
    bottom: 0;
    background:#FAFAFA;
    width: 100%;
    height: 10em;
    text-align:center;
}


.center{
    text-align:center;
}/* Empty. Add your own CSS if you like */
