
#forgotPassText {

  text-align: center;
  font-size: 14px;
  color: #002242;

}

#forgotText {

  text-align: center;
  font-size: 14px;
  margin: 16px;

}

.green-background {
    background-color:#68d668 !important;
}

.content-bg {
    background: #FAFAFA;
}

.search {
    border-top: 0px;
    background: #FAFAFA;
}

.headerButton {
    color: #ffffff !important;
}

.headerBG {
    background: #75d075 !important;
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    text-align:center;
}

.center{
    text-align:center;
}

.menuBG {
    background: #DCEDFF;
}
.menuTab {
    background: #e4e4e4;
}

.cardColor {
    background: #90f690;
}

.cardInnerColor {
    background: #b6f6b6;
}


.textColor {
    color: #ffffff;
}
