
#forgotPassText {

  text-align: center;
  font-size: 14px;
  color: white;
  font-family: "ArialRoundedMTBold ", arial; 
  font-weight: bold;
  /*font-size: 3.6vw;*/
  height: 32px;
  width: 50%;
  margin-left: 25%;
  letter-spacing:0.0125em;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.12);
  padding-top: 6px;
  text-shadow: 1px 1px #000;

}

#titleText {

  text-align: center;
  font-size: 14px;
  color: white;
  font-family: "ArialRoundedMTBold ", arial;
  font-weight: bold;
  /*font-size: 3.6vw;*/
  height: 69px;
  width: 70%;
  margin-left: 15%;
  letter-spacing: 0.0125em;
  padding-top: 6px;
  text-shadow: 1px 2.5px #000;

}

#titleText2 {

  text-align: center;
  font-size: 14px;
  color: white;
  font-family: "ArialRoundedMTBold ", arial;
  font-weight: bold;
  /*font-size: 3.6vw;*/
  height: 69px;
  width: 70%;
  margin-left: 15%;
  letter-spacing:0.0125em;
  background: rgba(0, 0, 0, 0.08);
  padding-top: 6px;
  text-shadow: 1px 2.5px #000;

}

#forgotText {

  text-align: center;
  font-size: 14px;
  margin: 16px;

}

.loginEmailPass {
  height: 42px;
  background: rgba(0, 0, 0, 0.64);
  border: 0px;
}

.green-background {
    background-color:#68d668 !important;
}

.green-color {
    color:#68d668;
}

.blue-color {
    color: #3399ee;
}

.login-button {

  width: 68% !important;
  margin-left: 16%;
  border: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.42);

}

.signup-button {

  width: 68% !important;
  margin-left: 16%;
  border: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.42);

}

.center {
  text-align: center;
}

.content-bg {
    background: #FAFAFA;
}

.search {
    border-top: 0px;
    background: #FAFAFA;
}

.headerButton {
    color: #ffffff !important;
}

.headerBG {
    background: #75d075 !important;
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    text-align:center;
}

.center{
    text-align:center;
}

.menuBG {
    background: #DCEDFF;
}
.menuTab {
    background: #e4e4e4;
}

.background-image {
  width:100%;
  height:100%;
  position: absolute;
}

.cardColor {
    background: #90f690;
}

.cardInnerColor {
    background: #b6f6b6;
}

.bottom-login-div {
  position: absolute;
  width: 100%;
  bottom: 28px;
}

.textColor {
  color: #ffffff;
}

.loginFields {
  width: 80%;
  margin-left: 10%;
  background: rgba(0,0,0,0.001);
}

.loginPic {
  width:100%;
  margin-bottom: -12px;
  padding-top:10%;
  margin-top: 0px;
  position: relative;
}


.fbLoginButton {
  position: relative;
  width: 76%;
  height: 76%;
  margin-left: 12%;
}

.polarBearImg {
  max-width: "80%";
}

#progress {
 width: 500px;   
 border: 1px solid black;
 position: relative;
 padding: 3px;
}

#bar {
 height: 20px;
}

#textIfNoItems {
  display: none;
}

